.game-name {
    margin-left: 1em;
    font-size: medium;
}

.example-spacer {
    flex: 1 1 auto;
  }

  .main-menu {
    margin-left: 1em;
  }

.service-menu {
    padding: 1em;

    .alerts {
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: center;
    }
}
  
.pic-updates {
    display: flex;
    gap: 1em;

    .pic-update {
        padding: 1em;
        text-align: center;
        background: orange;
        border: solid 2px darkorange;
        border-radius: 3px;
    }
}



.dips {
    .on {
        background: black;
    }
}

.device-list {
    display: flex;
    flex-wrap: wrap;
}

.number {
    font-size: x-small;
}

td {
    padding: 5px;
    border: solid 1px lightgray;
    border-radius: 3px;
}

