<mat-toolbar>
    <img src="../assets/mopo-logo.svg" width="32px" style="margin-right: 1em" />
    <span>{{info?.name}} Serivce Menu</span>
    <span class="game-name">{{info?.gameName}}</span>
    <span class="example-spacer"></span>
    <mat-chip-set>
        <mat-chip>Version {{info?.version}}</mat-chip>
        <mat-chip *ngIf="fps"> {{fps?.fps}}fps ({{fps?.loopTime}}ms) </mat-chip>
      </mat-chip-set>
    <button mat-button [matMenuTriggerFor]="menu" class="main-menu">Menu</button>
    <mat-menu #menu="matMenu" >
        <button mat-menu-item (click)="reselectGame()">Choose New Game</button>
        
    </mat-menu>
</mat-toolbar>

<div class="service-menu">
    <div class="alerts">
        <mat-card *ngIf="debuggingEnabled">
            <mat-card-header>
                <mat-card-title>Debugging is enabled</mat-card-title>
            </mat-card-header>
            <mat-card-content>
            <div class="title notice">
                Design you own rules with the <a href="http://mopo-designer.s3-website-us-east-1.amazonaws.com/" target="_blank">MOPO Designer</a>!
            </div>
            <div class="body">
                Upload a rule set:
                <input type="file"
                    #fileload
                    (change)="load($event)" />
            </div>
            </mat-card-content>
      </mat-card>
      <mat-card *ngIf="setupState?.required">
        <mat-card-header>
            <mat-card-title>Welcome to MOPO</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Select a game</p>
            <ul>
                <li *ngFor="let game of gameOptions">
                    {{game.label}}
                    <button (click)="onSelectGame(game)">Select</button>
                </li>
            </ul>
        </mat-card-content>
        </mat-card>
        <ng-container *ngFor="let pic of ['driver', 'switches', 'displays']">
            <mat-card *ngIf="setupState?.pics[pic].required" class="pic-update">
                <mat-card-header>
                    <mat-card-title>{{pic}} PIC update available</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>Please update the {{ pic }} PIC</p>
                <div>
                    <button (click)="onUpdatePic(pic)">Update {{pic}}</button>
                </div>
                <div *ngIf="flashState[pic].hasRun && flashState[pic].success">
                    <i>Success</i>
                    <button (click)="restart()">Restart</button>
                </div>
                <div *ngIf="flashState[pic].hasRun && !flashState[pic].success">
                    <i>Failure</i>
                </div>
                </mat-card-content>
            </mat-card>
        </ng-container>
    </div>
</div>

<div *ngIf="!setupState?.required">
<h3>Dips</h3>
<div>
    S1
    <div>
        <table class="dips">
            <tr>
                <td [class.on]="dips?.s1.sw1"></td>
                <td [class.on]="dips?.s1.sw2"></td>
                <td [class.on]="dips?.s1.sw3"></td>
                <td [class.on]="dips?.s1.sw4"></td>
                <td [class.on]="dips?.s1.sw5"></td>
                <td [class.on]="dips?.s1.sw6"></td>
                <td [class.on]="dips?.s1.sw7"></td>
                <td [class.on]="dips?.s1.sw8"></td>
            </tr>
            <tr>
                <td [class.on]="!dips?.s1.sw1"></td>
                <td [class.on]="!dips?.s1.sw2"></td>
                <td [class.on]="!dips?.s1.sw3"></td>
                <td [class.on]="!dips?.s1.sw4"></td>
                <td [class.on]="!dips?.s1.sw5"></td>
                <td [class.on]="!dips?.s1.sw6"></td>
                <td [class.on]="!dips?.s1.sw7"></td>
                <td [class.on]="!dips?.s1.sw8"></td>
            </tr>
        </table>
    </div>
    <div>
        Slam: {{dips?.slam}}
    </div>
</div>

<h3><i class="far fa-lightbulb"></i> Lamps</h3>
<div class="device-list">
    <app-output-device *ngFor="let lamp of lamps" [device]="lamp" [icon]="'far fa-lightbulb'" (toggle)="toggleDevice($event)"></app-output-device>
</div>

<h3><i class="fas fa-arrows-alt-h"></i> Coils</h3>
<div class="device-list">
    <app-output-device *ngFor="let coil of coils" [device]="coil" [icon]="'fas fa-arrows-alt-h'" [lampIcon]="'far fa-lightbulb'" (toggle)="toggleDevice($event)"></app-output-device>
</div>

<h3><i class="fas fa-volume-up"></i> Sounds</h3>
<div class="device-list">
    <app-output-device *ngFor="let sound of sounds" [device]="sound" [icon]="'fas fa-volume-up'" (toggle)="toggleDevice($event)"></app-output-device>
</div>

<h3><i class="fas fa-toggle-on"></i> Switches</h3>
<table>
    <tr *ngFor="let row of rows">
        <td *ngFor="let col of cols">
            {{getSwitch(row, col)?.id}} <span class="number">#{{getSwitch(row, col)?.number}}</span>
        </td>
    </tr>
</table>
</div>