Mopo Pinball

<button (click)="updatePic()">Flash IC1</button>

<div *ngFor="let m of msg">
  {{m}}
</div>

<div>
  <h3>Switches</h3>
    <div class="deviceCollection">
        <div class="device" *ngFor="let switch of switchMatrix | keyvalue">
            <div>SW:{{switch.value.number}}</div>
            <div>{{switch.value.name}}</div>
            <button (click)="testDevice('switch', switch.key)">Test</button>
        </div>
    </div>    
</div>

<div>
    <h3>Lamps</h3>
    <div class="deviceCollection">
        <div class="device" *ngFor="let light of lights | keyvalue" [ngStyle]="{'background': light.isOn ? 'orange' : 'inherit'}">
            <div>{{light.value.number}}</div>
            <div>{{light.value.name}}</div>
           <button (click)="testDevice('lamp', light.key)">Test</button>
         </div>
    </div>
</div>

<div>
    <h3>Coils</h3>
    <div class="deviceCollection">
        <div class="device" *ngFor="let coil of coils | keyvalue">
            <div>Sol{{coil.value.number}}</div>
            <div>{{coil.value.name}}</div>
            <button (click)="testDevice('coil', coil.key)">Test</button>
        </div>
    </div>
</div>

<div>
    <h3>Sounds</h3>
    <div class="deviceCollection">
        <div class="device" *ngFor="let sound of sounds | keyvalue">
            <div>{{sound.value.number}}</div>
            <div>{{sound.value.description}}</div>
            <button (click)="testDevice('sound', sound.key)">Test</button>
        </div>
    </div>
</div>