<header>
    <h1>{{info?.name}} <span>{{info?.version}}<button (click)="checkForUpdate()">Check</button></span><span *ngIf="availableUpdate">Version {{availableUpdate.name}} is available!</span></h1>
    <h2>{{info?.gameName}}</h2>
    <h3 *ngIf="fps">{{fps?.fps}}fps ({{fps?.loopTime}}ms)</h3>
</header>
<h3><i class="far fa-lightbulb"></i> Lamps</h3>
<div class="device-list">
    <app-output-device *ngFor="let lamp of lamps" [device]="lamp" [icon]="'far fa-lightbulb'" (toggle)="toggleDevice($event)"></app-output-device>
</div>

<h3><i class="fas fa-arrows-alt-h"></i> Coils</h3>
<div class="device-list">
    <app-output-device *ngFor="let coil of coils" [device]="coil" [icon]="'fas fa-arrows-alt-h'" [lampIcon]="'far fa-lightbulb'" (toggle)="toggleDevice($event)"></app-output-device>
</div>

<h3><i class="fas fa-volume-up"></i> Sounds</h3>
<div class="device-list">
    <app-output-device *ngFor="let sound of sounds" [device]="sound" [icon]="'fas fa-volume-up'" (toggle)="toggleDevice($event)"></app-output-device>
</div>

<h3><i class="fas fa-toggle-on"></i> Switches</h3>
<table>
    <tr *ngFor="let row of rows">
        <td *ngFor="let col of cols">
            {{getSwitch(row, col)?.id}} <span class="number">#{{getSwitch(row, col)?.number}}</span>
        </td>
    </tr>
</table>