[Unit]
Description=Mopo Pinball
Documentation=https://github.com/mopopinball

[Service]
WorkingDirectory=/home/pi/mopo/engine
Type=simple
User=pi
ExecStart=NODEPATH /home/pi/mopo/engine/src/index.js
Environment=NODE_ENV=production
Restart=always

[Install]
WantedBy=multi-user.target